<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ $baseUrl := .Site.BaseURL }}
        {{ partial "hero.html" . }}
        <section id="{{ .Title }}">
        	<div class="container">
                <div class="row">
		        	<div class="col-lg-12 text-left">
		        		<h1 id="title">{{ .Params.name }}</h1>           
		                {{ .Content }}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12 text-right">
		        		<p/>
		        		{{ range .Params.tags }}
							<a href="{{ $baseUrl }}tags/{{ . | urlize }}"><i class="fa fa-hashtag fa-inverse"></i>&nbsp;{{ . }}</a>&nbsp;
						{{ end }}
		        	</div>
		        </div>
		    </div>
		    
        </section>
        {{ partial "contact.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>